@model IEnumerable<DailyBlogger__ASP.NET_Sec._2_Project_.Models.BlogPost>

@{
    Layout = "_Layout";
}

    @foreach (var item in Model)
    {
    <div class="container">
        <div class="col-12 col-md-6">
            <div class="card my-3">
                <div class="w3-container mx-3 my-1">
                    <h3><a asp-controller="Blog" asp-action="Details" asp-route-id=@item.id>@Html.DisplayFor(m => item.blogTitle) </a></h3> <!--DisplayFor here helped display the titles as links-->
                    <p>@Html.DisplayFor(m => item.blogDate)</p>
                </div>
            </div>
        </div>
    </div>
    }
